<!-- Header
=================== -->
<header class="row">
    <!-- logo -->
  <%= link_to image_tag('logo.png', class:'logo col s12 m5 l3'), root_path %> 
  <nav class="white">
    <!-- search -->
    <div class="nav-wrapper col s12 m5 l5 offset-l4" style="height: 120%;">
      <ul class="right">
        <li><form action="/search" accept-charset="UTF-8" method="get">
          <div class="input-field left col s12 m12 l12">
            <input name="utf8" type="hidden" value="✓" required>
            <input type="text" name="name" id="search" placeholder="search">
            <button class="btn-flat" type="submit" name="action" for="search"><i class="material-icons">search</i></button>
          </div>
        </form></li>
        <li><%= link_to "Previous Page", :back, class:'col s12 m12 l12 previous deep-purple-text text-darken-2' %></li>
        <li style="height:64px;">

        <!-- Devise -->
          <div class="col s12 m12 l12 navbar-text pull-right">
            <% if user_signed_in? %>
              <a class="dropdown-button deep-purple-text text-darken-2" href="#" data-hover="true" data-activates="dropdown"><strong>Hi <%= current_user.first_name.capitalize %></strong>!</a>
              <ul id="dropdown" class="dropdown-content">
                <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
              </ul>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link btn-flat transparent modal-trigger', 'data-target' => '#modal-signup'  %> |
              <%= link_to "Login", new_user_session_path, :class => 'navbar-link btn-flat transparentmodal-trigger', 'data-target' => '#modal-login'  %>
            <% end %>
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>