
<h1>you hit the search page</h1>
<div class="set" id="map"></div>
<div class="each-post">
  <% @results.each do |post| %>
    <h3><%= post.title %></h3>
    <img src="<%= post.image %>" style="width: 100px; height: auto">
    <%= post.content[0...50]+"..." %>
  <% end %>
</div>