/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 
 */

@import url(//fonts.googleapis.com/css?family=Lato:100, 300, 400, 700, 900 );
@import url(//fonts.googleapis.com/css?family=PT+Sans);

h1.headline {font-family: 'Lato'; font-size: 3em; font-weight: 300; }
h2.sub-head {font-family: 'Lato'; font-size: 1.75em; font-weight: 400;}
h3.sub {font-family: 'PT Sans'; font-size: .8em; font-weight:400;}
p.p  {font-family: 'PT Sans'; font-size: 1em; font-weight:400;}
p.indexp  {font-family: 'PT Sans'; font-size: 1.5em; font-weight:400;}

input#search{
  background-color: #f4f4f4;
  padding-left: 0px; 
  width: 80%;
}
.material-icons{
  margin-left: 0px;
}
ul{
  display: inline-block;
}

a.previous,.material-icons, input#search{
  position: relative;
  top: 15px;
  color:purple;
}
.nav-wrapper{
  background-color: white;
}input#search{
  background-color: #f4f4f4;
  padding-left: 0px; 
  width: 80%;
}
.material-icons{
  margin-left: 0px;
}
ul{
  display: inline-block;
}

a.previous,.material-icons, input#search{
  position: relative;
  top: 15px;
  color: rgba(93, 89, 162, 1);
}
.nav-wrapper{
  background-color: white;
}

input#search{
  background-color: #f4f4f4;
  padding-left: 0px; 
  width: 80%;
}
.material-icons{
  margin-left: 0px;
}
ul{
  display: inline-block;
}

a.previous,.material-icons, input#search{
  position: relative;
  top: 15px;
  color:purple;
}
.nav-wrapper{
  background-color: white;
}

.center {
  text-align: center;
}

div.set#map{
  width: 100%;
  height: 250px;
  background-color: #CCC; 
}
div.set#map-canvas{
  width: 100%;
  height: 250px;
  background-color: #CCC; 
}

.post-info.row{
  height: 355px;
}

#post-content{
  overflow: scroll;
  margin: 0 0 15px 0;
  padding: 0 0 0 0;
  height: 262px;
}

#location-name{
  margin-top: 0px;
}
.card{
  width: 95%;
}

.card-title{
  padding: 5px 5px 5px 5px;
}

.posts-image{
  height: 150px;
  margin-bottom: 20px
}
.card .card-image img{
  height: 150px;
}

a.title{
  color: white;
  font-size: 1.2rem;
  line-height: .75rem;
}

.card .card-content{
  padding: 10px 10px 10px 10px;
}

.hero {
  position: absolute;
  z-index: -100;
  margin-top: -20px;
  
  /*width: 768 px;*/
  /*height: 264 px;*/
}

.logo {
  /*background-image: url(<%= asset_path 'logo.png'%>);*/
  z-index: 9999;
  
  position: absolute;
}

.hero-search {
  padding-top: 23%;
  z-index: 2;
  /*background-image: url(/assets/heroshot-xl.jpg);*/
  /*background-size: 839px 388px;*/
  /*background-repeat: no-repeat;*/
  /*background-image: url(<%= asset_path 'heroshot.jpg' %>);*/
  /*position: absolute;*/
  /*bottom: 380px;*/
  /*right: 190px;*/
}

.index-block {
  padding-top: 4.5%;
  /*margin: 10%;*/
}
