// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*search results page*/
.post-group{
  display: inline-block;
  width: 350px;
}

img.results-image{
  width: 450px;
  height: 350px;
}

.fake-posts{
  width: 200px;
  height: auto;
}
