// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  margin: 0px;
}

#content{
  margin: 0 150px 0 150px;
}

p{
  margin: 8px 0 8px 0;
}
.location{
  position: absolute;
  margin-right: 150px;
  right: 0px;
}
.fake-posts{
  width: 200px;
  height: auto;
}

/*#map {
  width: 400px;
  height: 250px;
  background-color: #CCC; 
}
#map-canvas {
  width: 100%;
  height: 400px;
  background-color: #CCC; 
}*/


#location-name{
  margin: 15px 0 15px 0;
}

.recommend-post{
  display: inline-block;
  width: 250px;
  background-color: lightblue;
}

#post-content{
  margin-top: 30px;
  width: 500px;
}

.post-image{
  width: 450px;
  height: 350px;
}

/*search results page*/
.post-group{
  display: inline-block;
  width: 350px;
}

img.results-image{
  width: 450px;
  height: 350px;
}
